@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}
img{
    width: 100%;
}
body{
    font-size: 1.4rem;
}
.container{
    width: 1600px;
}
.d-flex{
    display: flex;
}
.two-column{
    flex: 0 0 49%;
}
.three-colum{
    flex: 0 0 33%;
}

header{
    background-color: #313A5A;
    padding:  50px 0;

}
nav ul li{
    display: inline-block;
    padding-right: 36px;


}
a.li-a{
    text-decoration: none;
    color: white;
    line-height: 3.4rem;
    font-size: 1.6rem;

}

a.green{
    color: #1FDB84;
}
a.border{
    border-radius: 6px;
    background-color: #1FDB84;
    box-shadow: 0 8px 34px 0 rgba(31,219,132,0.6);
    padding: 8px 12px;
    pointer-events: none;

}

a.li-a:hover{
    border-bottom: 3px solid #1FDB84;
    padding-bottom: 8px;
    transition: all .1s;
}

section.section-one{
    background-color: #313A5A;

}
div.sec-one-left h1{
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 4.8rem;
    letter-spacing: 0;
    line-height: 5.7rem;
    margin-left: 260px;
    margin-bottom: 40px;
}

div.sec-one-left p{
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #fff;
    margin-left: 260px;
    margin-bottom: 55px;
}

p#getStarted a{
    color: white;
    text-decoration: none;
    font-size: 2.0rem;
    line-height: 2.2rem;
    background-color: #1FDB84;
    padding: 16px 20px;
    box-shadow: 0 -8px 34px 0 rgba(31,219,132,0.6);
    border-radius: 6px;

}
div.sec-one-right{
    margin-right: 370px;
}
img.slide-img{
    height: 607px;
    width: 380px;
}
aside{
    height: 380px;
    width: 1257px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 34px 0 rgba(210,210,210,0.5);
    margin-top: -80px;
    position: absolute;
    left: 330px;
}
img.icon{
    height: 72px;
    width:72px;
    margin: 50px 15px;
}
h5.h5{
    color: #031D5B;
    font-family: Rubik;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-bottom: 30px;
}

p.aside-p{
    color: #5B6C94;
    font-family: Rubik;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 3.2rem;
    opacity: 0.8;
}
.h2-middle{
    position: absolute;
    bottom: -250px;
    left: 550px;
    font-size: 4.0rem;
    color: #32325C;
    line-height: 5.9rem;
}
section.section-two{
    justify-content: space-between;
    position: absolute;
    top:1250px;
    left: 500px;
    width: 1000px;
    height: 650px;
}
h6{
    color: #32325C;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.27px;
    line-height: 3.2rem;
    text-align: center;
    margin-bottom: 30px;
}
p.big{
    color: #1FDB84;
    font-family: Rubik;
    font-size: 6.8rem;
    letter-spacing: 0;
    line-height: 64px;
    text-align: center;
    margin-bottom: 13px;
}
p.per{
    margin-bottom: 60px;
    color: #5B6C94;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0.18px;
    line-height: 32px;
    text-align: center;
}
p.txt{
    color: #5B6C94;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0.18px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 15px;

}

p#txt{
    margin-top: 70px;
}
p#txt a{
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center;
    border-radius: 6px;
    background-color: #1FDB84;
    box-shadow: 0 8px 34px 0 rgba(31,219,132,0.6);
    margin-left: 30px;
    padding: 10px;
    text-decoration: none;

}
div.sec-two-1{
    margin-left: -60px;
    margin-right: 220px;
}
div.sec-two-2{
    margin-right: 220px;
}
h2.prelom{
    color: #031D5B;
    font-size: 4.0rem;
    line-height: 48px;
    position: absolute;
    bottom:  -980px;
    left: 650px;
    margin-bottom: 30px;

}
section.section-three{
    position: absolute;
    left: 400px;
    bottom:  -1450px;
}
div.sec-three-left img{
    width: 63px;
    height: 40px;
    margin-bottom: 23px;
    color:beige;

}
div.sec-three-right img{
    width: 63px;
    height: 40px;
    margin-bottom: 23px;

}
p.some-text{
    color: #5B6C94;
    font-family: Rubik;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 70px;

}
p.author{
    color: #5B6C94;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
}
div.sec-three-left{
    margin-right: 200px;
    border-radius: 6px;
    background-color: #1FDB84;
    box-shadow: 12px 12px 40px 0 rgba(31,219,132,0.5);
    padding: 70px 50px;
}
div.sec-three-right{
    border-radius: 6px;
    background-color: beige;
    box-shadow: 12px 12px 40px 0 rgba(121,121,121,0.3);
    padding: 70px 50px;
}
div.images{
    position:absolute;
    bottom:  -1780px;
    left: 400px;

}
div.images img{
    width: 288px;
    height: 288px;
    margin-right:  5px;

}
h6.platform{
    position: absolute;
    color: #031D5B;
    bottom: -1865px;
    left: 796px;
    font-family: Rubik;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}
img.amazon{
    width: 138px;
    height: 41px;

}
img.etsy{
    width: 89px;
    height: 44px;
}
img.clickbank{
    width: 153px;
    height: 29px;
}
img.mlogo{
    width: 59px;
    height: 45px;
}
img.youtube{
    width: 139px;
    height: 31px;
}
img.kickstarter{
    width: 277px;
    height: 27px;
}
div.logos{
    position: absolute;
    bottom: -1935px;
    left: 380px;
    width: 65%;

}
footer p.footer-p{
    color: #5B6C94;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
    position: absolute;
    bottom: -2050px;
    left: 744px;

}
footer p.info{
    color: #5B6C94;
    font-family: Rubik;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
    position: absolute;
    bottom: -2100px;
    left: 825px;

}
